@import 'variables';

.container {
  text-align: left;

  .branding {
    .text-astro {
      color: $color-primary;
    }

    .text-engine {
      color: #fff;
    }

    .mat-icon {
      font-size: 24px;
      color: $color-primary;
    }
  }

  .breadcrumb {
    background: none;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    .breadcrumb-item {
      display: flex;

      + .breadcrumb-item {
        padding-left: 0.5rem;

        &::before {
          display: inline-block;
          padding-right: 0.5rem;
          color: #6c757d;
          content: "/";
        }

        &:hover::before {
          text-decoration: underline;
        }

        &:hover::before {
          text-decoration: none;
        }
      }

      &.active {
        color: #6c757d;
      }
    }

    li {
      color: rgba(255, 255, 255, 0.5);

      &.active {
        color: rgba(255, 255, 255, 0.5);
      }

      a {
        color: rgba(255, 255, 255, 0.5);

        &:hover {
          color: #fff;
        }
      }
    }

    > li + li:before {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

