<ae-header></ae-header>

<main>
  <div class="container">
    <div fxLayout="row">

      <div class="doc-content" fxFlex="75%" fxFlexOrder="1">
        <router-outlet></router-outlet>
      </div>

      <div class="doc-sidebar" fxFlex="25%" fxFlexOrder="0">
        <div class="doc-nav">
          <nav fxLayout="column" class="nav doc-menu sticky">
            <a *ngFor="let item of menu" class="nav-link" [routerLink]="item.link">{{ item.text }}</a>
          </nav>
        </div>
      </div>

    </div>
  </div>
</main>
