/*
    astro_demo.css
*/

.NumHeader {
    text-align: center;
}

.Numeric {
    font-family: Monospace;
    text-align: right;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 1px solid white;
}
