<div class="container">
  <div class="branding">
    <h1 class="logo">
      <mat-icon>auto_awesome</mat-icon>
      <span class="text-astro">Astronomy</span>
      <span class="text-engine">Engine</span>
    </h1>
  </div>

  <div class="tagline">
    <p>
      Astronomy Engine is a suite of open source libraries for calculating
      positions of the Sun, Moon, and planets, and for predicting interesting
      events like oppositions, conjunctions, rise and set times, lunar phases,
      eclipses, transits, and more.
    </p>
  </div>

  <div class="social-container">
    <div class="github-btn">
      <a
        class="github-button"
        href="https://github.com/cosinekitty/astronomy"
        data-size="large"
        aria-label="Star cosinekitty/astronomy on GitHub"
      >Star</a>
      &nbsp;
      <a
        class="github-button"
        href="https://github.com/cosinekitty"
        data-size="large"
        aria-label="Follow @cosinekitty on GitHub"
      >Follow @cosinekitty</a>
    </div>
  </div>
</div>
