<div class="page-wrapper">
  <router-outlet></router-outlet>
</div>

<footer class="footer text-center">
  <div class="container">
    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
    <small class="copyright">Designed with <mat-icon>favorite</mat-icon> by <a href="https://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> for developers</small>
    <br />
    <small>Website powered by <a href="https://app.netlify.com/sites/astronomy-engine/deploys" target="_blank">Netlify</a></small>
  </div>
</footer>
