<ae-header-index></ae-header-index>

<section class="cards-section">
  <div class="container">
    <div
      class="cards-wrapper"
      fxLayout="row wrap"
      fxLayoutGap="3%"
      fxLayoutAlign="flex-start"
    >
      <div
        *ngFor="let item of items"
        class="item item-{{ item.color }}"
        fxFlex="30%" fxFlex.lt-md="47%" fxFlex.xs="100%"
      >
        <div class="item-inner">
          <div class="icon-holder">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <h3 class="title">{{ item.title }}</h3>
          <p class="intro">{{ item.description }}</p>
          <a
            class="link"
            [routerLink]="item.disabled ? null : item.link"
            matTooltip="Under construction"
            [matTooltipDisabled]="!item.disabled"
          ><span></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
